name: Deploy Doxygen documentation to Pages
on:
  push:
    branches: ["master"]
  workflow_dispatch:
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: openvpn3
      - name: Checkout doxygen-awesome-css
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: doxygen-awesome-css
          repository: jothepro/doxygen-awesome-css
          ref: v2.3.4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends \
            build-essential cmake doxygen graphviz ninja-build \
            libasio-dev libcap-dev libfmt-dev libjsoncpp-dev liblz4-dev libssl-dev libxxhash-dev

      - name: Build Doxygen documentation
        id: build
        run: |
          mkdir doxygen
          cd doxygen
          cmake -S ${{ github.workspace}}/openvpn3 -DENABLE_DOXYGEN=ON -DDOXYGEN_HTML_EXTRA_STYLESHEET=${{ github.workspace }}/doxygen-awesome-css/doxygen-awesome.css -GNinja
          ninja -v doxygen-core
          touch doxygen/core/html/.nojekyll
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: doxygen/doxygen/core/html/

  deploy:
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
