name: Build

on: [push, pull_request]

jobs:
  msvc:
    strategy:
      matrix:
        arch: [x86, x64, arm64]

    env:
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.arch }}-windows
      BUILD_CONFIGURATION: Release

    runs-on: windows-2025
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: lukka/get-cmake@f176ccd3f28bda569c43aae4894f06b2435a3375 # v4.2.3
    - name: Restore from cache and install vcpkg
      uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5
      with:
        vcpkgGitCommitId: d1ff36c6520ee43f1a656c03cd6425c2974a449e
        vcpkgJsonGlob: '**/windows/vcpkg.json'

    - name: Run CMake with vcpkg.json manifest
      uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
      if: ${{ matrix.arch != 'arm64' }}
      with:
        configurePreset: win-${{ matrix.arch }}-release
        buildPreset: win-${{ matrix.arch }}-release
        testPreset: win-${{ matrix.arch }}-release

    - name: Run CMake with vcpkg.json manifest (NO TESTS)
      uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
      if: ${{ matrix.arch == 'arm64' }}
      with:
        configurePreset: win-${{ matrix.arch }}-release
        buildPreset: win-${{ matrix.arch }}-release

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: openvpn3-msvc-${{ matrix.arch }}
        path: |
            ${{ github.workspace }}/build/**/*.exe
            ${{ github.workspace }}/build/**/*.dll
            !${{ github.workspace }}/build/**/test/ssl/**
            !${{ github.workspace }}/build/**/test/unittests/**
            !${{ github.workspace }}/build/**/CMakeFiles/**
            !${{ github.workspace }}/build/**/vcpkg_installed/**
  mingw:
    strategy:
      matrix:
        arch: [x86, x64]

    env:
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: lukka/get-cmake@f176ccd3f28bda569c43aae4894f06b2435a3375 # v4.2.3

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y mingw-w64 unzip cmake build-essential

    - name: Restore from cache and install vcpkg
      uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5
      with:
        vcpkgGitCommitId: d1ff36c6520ee43f1a656c03cd6425c2974a449e
        vcpkgJsonGlob: '**/mingw/vcpkg.json'

    - name: Run CMake with vcpkg.json manifest
      uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
      with:
        configurePreset: mingw-${{ matrix.arch }}-release
        buildPreset: mingw-${{ matrix.arch }}-release

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: openvpn3-mingw-${{ matrix.arch }}
        path: |
            ${{ github.workspace }}/build/**/*.exe
            ${{ github.workspace }}/build/**/*.dll
            !${{ github.workspace }}/build/**/test/ssl/**
            !${{ github.workspace }}/build/**/test/unittests/**
            !${{ github.workspace }}/build/**/CMakeFiles/**
            !${{ github.workspace }}/build/**/vcpkg_installed/**
